*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.ropeproject/

.idea/
instapk.log*
instapk.properties
.hgignore
.idea/instapk.xml
keystores/
app/google-services.json

app/src/mock/debug/
app/src/mock/release/
app/src/prod/debug/
app/src/prod/release/
app/src/debug/

app/mock/debug/output.json
app/bin/
.project
.settings/
app/.classpath
app/.project
app/.settings/